XML/cars.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="car">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="carid" type="xs:string"/>
      <xs:element name="username" type="xs:string"/>
      <xs:element name="rate for rent" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
	  <xs:element name="feedback" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>